body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    padding: 30px
}

input,
textarea,
button {
    margin: 5px;
    padding: 8px
}

button {
    background: #2563eb;
    color: white;
    border: none
}